<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Log In</title>
    <link rel="stylesheet" href="css/login.css">
</head>
<body>
    <main>
        <div class="bg"></div>
        <section>
            <h2>Scholarship Manager</h2>
            <form action="/login" method="post" th:object="${loginRequest}">
                <label>Login</label><br>
                <input type="text" id="login" name="login" required><br>
                <label>Password</label><br>
                <input type="password" id="password" name="password" required><br>
                <input type="submit" value="Log In">
            </form>

        </section>
    </main>
</body>
</html>