*
{
    margin: 0;
    padding: 0;
    font-family: "Futura Bk BT [Rus by me]"
}

body
{
    background-color: #F4F5F7;
    display: flex;
    margin: 20px;
    justify-content: space-around;
}

nav
{
    border-radius: 10px;
    width: 20%;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: solid 1px #7071E7;
    margin-bottom: 40px;
}

nav>h3
{
    font-size: 26px;
}

ul
{
    margin-top: 20px;
    list-style-type: none;
}

.ico
{
    width: 25px;
    margin-right: 10px;
}

a
{
    font-size: 26px;
    text-decoration: none;
    color: #3C3F41;
    display: inline-block;
    width: 80px;
    border-radius: 10px;
    padding: 3px 10px;
}

#log-out
{
    margin-top: 50px;
    font-size: 20px;
    background-color: #7071E7;
    color: #fff;
    padding: 5px 10px;
    text-align: center;
}

main
{
    width: 100%;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

section
{
    width: 60%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #fff;
    padding: 50px 20px;
    border-radius: 10px;
    border: solid 1px #7071E7;
    margin-bottom: 40px;
}

.personal-info
{
    margin-top: 10px;
    display: flex;
    width: 90%;
    justify-content: center;
}

.personal-data
{
    display: flex;
}

.profile-photo
{
    width: 200px;
    border-radius: 5px;
}

p
{
    display: inline-block;
    margin: 5px 10px;
}

.data
{
    padding: 5px 10px;
    border: solid 1px #3C3F41;
    width: 300px;
    border-radius: 10px;
}

.grades
{
    width: 96%;
    margin: 0;
    padding: 0;
    border-radius: 10px 10px 0 0;
}

.semesters
{
    width: 100%;
    display: flex;
    justify-content: space-around;
    margin: 10px 0;
}

.semesters>p
{
    cursor: pointer;
    padding: 5px 10px;
    border-radius: 15px;
}

table
{
    width: 100%;
    text-align: center;
    border-collapse: collapse;
}

table, tr, th, td
{
    border: solid 1px #7071E7;
}

th, td
{
    height: 40px;
}

th
{
    background-color: #7071E7;
    color: #fff;
}

ul a:hover, .semesters>p:hover
{
    background-color: #7071E7;
    color: #fff;
}

tr:nth-child(odd)
{
    background-color: #B7B8F3;
}