*
{
    margin: 0;
    padding: 0;
}

main
{
    height: 100vb;
    display: flex;
    align-items: center;
    justify-content: center;
}

.bg
{
    position: absolute;
    width: 100%;
    height: 100vh;
    background-image: url("../img/bg.jpg");
    background-size: cover;
    background-position: center;
    opacity: 0.6;
    z-index: -1;
}

section
{
    width: 60%;
    height: 350px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #fff;
    border: solid 4px #7071E7;
    border-radius: 15px;
}

section>h2
{
    color: #7071E7;
    font-size: 30px;
    margin-bottom: 20px;

}

input
{
    width: 300px;
    height: 40px;
    margin: 10px;
    border: solid 1px #7071E7;
}

button
{
    width: 150px;
    height: 40px;
    background-color: #7071E7;
    color: #fff;
    font-size: 20px;
    border: none;
    cursor: pointer;
}

#successMessage
{
    margin: 10px 0;
    color: lightgreen;
}

#errorMessage
{
    margin: 10px 0;
    color: tomato;
}