<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Burse</title>
    <link rel="stylesheet" href="css/bursa.css">
    <link rel="shortcut icon" href="#">
</head>
<body>
<main>
    <nav>
        <h3>Scholarship</h3>
        <ul>
            <li><img src="img/ico/home.png" class="ico"><a href="index">Home</a></li>
            <li><img src="img/ico/profile.png" class="ico"><a href="profile">Profile</a></li>
            <li><img src="img/ico/paper.png" class="ico"><a href="admindocs">Docs</a></li>
        </ul>
        <a href="signup" id="log-out">Log out</a>
    </nav>

    <section class="scholarship">
        <h2>Scholarship</h2>
        <table>
            <tr>
                <th>ID</th>
                <th>Full Name</th>
                <th>Type</th>
                <th>Value</th>
            </tr>
            <tr>
                <td>46</td>
                <td>Antonina Marcela</td>
                <td>sociala orfan</td>
                <td>300</td>
            </tr>
            <tr>
                <td>25</td>
                <td>Sergiu Mihail</td>
                <td>olimpica</td>
                <td>750</td>
            </tr>
            <tr>
                <td>42</td>
                <td>Luiza Dorina</td>
                <td>sociala venit</td>
                <td>300</td>
            </tr>
            <tr>
                <td>92</td>
                <td>Ruxandra Renata</td>
                <td>sociala venit</td>
                <td>300</td>
            </tr>
            <tr>
                <td>93</td>
                <td>Andra Antoniu</td>
                <td>merit</td>
                <td>450</td>
            </tr>

        </table>
    </section>
</main>
</body>
</html>