<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Docs</title>
    <link rel="stylesheet" href="css/docs.css">
    <link rel="shortcut icon" href="#">

    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <style>
        /* Ascunde întregul conținut al paginii inițial */
        body > * {
            display: none;
        }
    </style>
</head>
<body>
<main>
    <nav>
        <h3>Scholarship</h3>
        <ul>
            <li><img src="img/ico/home.png" class="ico"><a href="index">Home</a></li>
            <li><img src="img/ico/profile.png" class="ico"><a href="profile">Profile</a></li>
            <li><img src="img/ico/paper.png" class="ico"><a href="docs">Docs</a></li>
        </ul>
        <a href="signup" id="log-out">Log out</a>
    </nav>
    <section>
        <div class="docs">
            <div class="element">
                <img src="img/ico/doc.png">
                <h2>Model Cerere</h2>
                <a href="docs/Cerere%20Bursa.docx" download>Download</a>
            </div>

            <div class="element">
                <img src="img/ico/pdf.png">
                <h2>Ordin Acordare Burse</h2>
                <a href="docs/Ordin.pdf" download>Download</a>
            </div>

            <div class="element">
                <img src="img/ico/pdf.png">
                <h2>Protectia Datelor</h2>
                <a href="docs/GDPR.pdf" download>Download</a>
            </div>

            <div class="element">
                <img src="img/ico/html.png">
                <h2>Burse</h2>
                <a href="bursa">View</a>
            </div>
        </div>
    </section>
</main>

    <footer>
        <h3>Scholarship <br> Manager</h3>
        <p>&copy; 2024 Scholarship Manager. All rights reserved.</p>
    </footer>
<script src="js/docs.js"> </script>

</body>
</html>