<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="css/style.css">
    <link rel="icon" href="data:,">
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <link rel="shortcut icon" href="#">

    <style>
        /* Ascunde întregul conținut al paginii inițial */
        body > * {
            display: none;
        }
    </style>
</head>
<body>
<main>
    <nav>
        <h3>Scholarship</h3>
        <ul>
            <li><img src="img/ico/home.png" class="ico"><a href="index">Home</a></li>
            <li><img src="img/ico/profile.png" class="ico"><a href="profile">Profile</a></li>
            <li><img src="img/ico/paper.png" class="ico"><a href="docs">Docs</a></li>
        </ul>
        <a href="signup" id="log-out">Log out</a>
    </nav>
    <section>
        <div class="image-back"></div>
        <p id="name">Scholarship Manager</p>
    </section>
    <section class="about">
        <p>
            Welcome to Scholarship Manager, your ultimate solution for managing student information and scholarship applications within a university environment.
            Our platform is designed to streamline the administrative processes for both students and faculty, making the experience seamless and efficient.
        </p>
        <br>
        <p>
            At Scholarship Manager, our mission is to empower educational institutions by providing a robust platform that simplifies the management of student information
            and scholarship processes. We aim to enhance the student experience by offering a reliable and efficient system that supports their academic and financial journey.

            Join us in creating a smarter, more organized academic environment with Scholarship Manager. Together, we can ensure that every student has the opportunity to
            succeed and access the financial support they need.
        </p>
    </section>
</main>
<footer>
    <h3>Scholarship <br> Manager</h3>
    <p>&copy; 2024 Scholarship Manager. All rights reserved.</p>
</footer>
<script src="js/index.js"> </script>

</body>
</html>
