<!DOCTYPE html>
<html>
<head>
    <link rel="icon" href="data:,">
    <title>Login</title>
    <link rel="stylesheet" type="text/css" href="/css/login.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <link rel="shortcut icon" href="#">
</head>

<body>
<main>
    <div class="bg"></div>
    <section>
        <h2>Scholarship Manager</h2>
        <form>
            <label for="username">Username</label><br>
            <input type="text" id="username" name="username" required><br>
            <label for="password">Password</label><br>
            <input type="password" id="password" name="password" required><br>
        </form>
        <button type="button" onclick="login()">Login</button>
        <div id="successMessage" style="display: none;">Login successful!</div>
        <div id="errorMessage" style="display: none;">Nume de utilizator sau parolă incorectă</div>
    </section>
</main>
<script>
    function login() {
        var username = $('#username').val();
        var password = $('#password').val();
        console.log("Trimitere cerere de autentificare...");
        $.ajax({
            url: '/login',
            type: 'POST',
            contentType: 'application/json',
            data: JSON.stringify({username: username, password: password}),
                success: function(response) {
                    localStorage.setItem('jwtToken', response.token);
                    console.log("Autentificare reușită. Token JWT salvat în localStorage:", response.token);
                    $('#successMessage').show();
                    window.location.href = 'index';
            },
            error: function() {
                console.log("Eroare la autentificare.");
                $('#errorMessage').show();
            }

        })

    }
    console.log("La final");

</script>
</body>
</html>